.card {
  border: 1px solid #be6dad;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card { padding: 15px; background: #fcf5fb; border-radius: 8px; border-bottom: 4px solid #fca2e8; }
